  <div class="main_body">
    <div class="body_left">
      <img class="logo" src="https://app.wallets.africa/_next/static/media/logo.a66a70e9.svg" alt="" />

      <div class="badguyImage">
        <img src="https://app.wallets.africa/_next/static/media/onboard-signup.0cc7187c.svg" alt="" srcset="">
      </div>
    </div>
    <div class="body_right">

      <div class="welcome_1">
        <h2>Welcome</h3>
          <p>We are glad to have you join us</p>
      </div>

      <div class="welcome_2">
        <h5>Please select a preferred account </h3>

      </div>
      <!-- two boxes -->
      <a href="/create-account" class="navlink">
        <div class="box1">
          <span class="dot"></span>
          <h5>wallets for personal use</h5>
          <h6>send money to anywhere in nigeria, make paymwnt anywhere on the internet</h6>
        </div>
      </a>

      <div class="box2">
        <span class="dot"></span>
        <h5>wallets for your business</h5>
        <h6>Experience a simpler way to bank for businesses, make payments everywhere on the internet.</h6>
      </div>

    </div>
  </div>