<div class="mainBody">
        <div class="leftBody">


            <img class="logo" src="https://app.wallets.africa/_next/static/media/logo.a66a70e9.svg" alt="" srcset="">
            <div class="badguyImage">
                <img src="https://app.wallets.africa/_next/static/media/onboard-signup.0cc7187c.svg" alt="" srcset="">
            </div>

        </div>
        <div class="rightBody">
            <div class="nav">

                <h4>Have and Account</h4>
                <button type="button"><a href="/sign-in">Sign In</a></button>

            </div>


            <div class="started">

                <h1>Let’s get started</h1>
                <p>We are glad to have you join us</p>
            </div>


            <form action="">

                <div class="form-group">
                    <label for="Phone Number">Phone Number</label>
                    <div class="input-group"><input type="tel" id="phone" placeholder="Enter Phone "></div>

                </div>
                <div class="form-group">
                    <label for="first name">First Name</label>
                    <div class="input-group"><input type="tel" id="phone" placeholder="Enter  name"></div>

                </div>
                <div class="form-group">
                    <label for="last name">Last Name</label>
                    <div class="input-group"><input type="tel" id="phone" placeholder="Enter  name"></div>

                </div>



                <button class="proceedbtn">Proceed</button>

            </form>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/intlTelInput.min.js"></script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.1.1/build/js/utils.js",
        });
    </script>