*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: IBM Plex Sans,sans-serif;
      text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.sideNav{
    width: 310px;
    height: 100vh;
    position: fixed;
    background-color: #DFE4F440;
    padding: 50px 40px;
}

.navLogo{
    text-align: center;
}

.navLogo img{
    width: 115px;
}

.nav-item{
    height: 50px;
    padding: 15px 20px;
    margin: 5px 0px;
    align-items: center;
}

.nav-item a{
    font-size: 16px;
    color: #40344E;
    align-items: center;
}

.myNavPills a i img{
    color: #00C9B6;
}

.nav-item span{
    margin-left: 10px;
    font-weight: lighter;
}

.myNavPills :hover{
    color: #00C9B6;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(154,171,237,0.06);
    border-radius: 10px;
}

.myNavPills a :hover{
    color: #00C9B6;
}


/* RIGHT SIDE PAGE */

.Rightside{
    width: 93%;
    margin: 0 auto;
    padding-left: 310px;
    overflow-x: hidden;
}

.NavRight{
    position:fixed;
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid rgb(223 228 244);
    padding-top: 40px;
    align-items: center;
    background-color: #FFFFFF;
    width: 70%;
}

.NavRight img{
    border: 1px solid rgb(223 228 244);
    border-radius: 100px;
    width: 40px;
}

.NavRightLeft{
    font-size: 18px;
    color: #40344E;
    font-weight: 600;
}

.navRightRight{
    display: flex;
    gap: 10px;
    align-items: center;
}

.navRightRight p{
    font-size: 17px;
    color: #40344E;
    font-weight: 100;
}

.navRightRight .icon{
    width: 20px;
    border: none;
}

/* EMbaba */
.banner-EB{
    margin-top:80px;
}
.prof-title-EB{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prof-pix-EB{
    background-color: #E5E5E5;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.left-EB{
    display: flex;
    align-items: center;
    gap: 15px;
}
.right-EB{
    align-items: center;
}
.myBtn-EB{
    width: 250px;
    background-color: #00C9B6;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.prof-content-EB{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.prof-name-EB{
    font-size: 1.2rem;
}

.divider-EB{
    border-right: 1px solid rgb(219, 217, 217);
}

.div1-EB ul li{
    line-height: 3.5rem;
    list-style: none;
    font-size: 1.1rem;
}

.prof-content-EB .div23-EB{
    display: flex;
    gap: 20px;
}

.ProfBtn{
    width: 250px;
    background-color: #00C9B6;
    height: 60px;
    color: black;
    /* text-align: center; */
    padding-left: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.myBtnOutline-EB{
    width: 180px;
    height: 45px;
    color:#5C2799;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #5C2799;
    cursor: pointer;

}