<div class="Rightside">
  <div class="NavRight">
      <div>
          <h3 class="NavRightLeft">Good Evening, Rework Batch 10</h3>
      </div>
      <div class="navRightRight">
          <img src="./images/dpPost.png" alt="">
          <p>Rework Batch 10</p>
          <i> <img  class="icon" src="./images/icons/drop.svg" alt=""> </i>
      </div>

  </div>
  <div class="presh-body">
    <div class="wallet-presh">
      <div class="Rightside-presh">
        <div class="NavRight-presh">
            <div>
              <a class="navbar-brand mt-4  bg-body" href="#">Wallets</a>
            </div>
        </div>
      </div>
    </div>
    
      <div class="wrapper-presh">
       <div class="cards-base-presh">
        <div class="cards-presh">
          <div class="card-presh">
          <div id="carouselExampleControls presh" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner presh">
              <div class="carousel-item active presh">
                <div class="card-wrapper container-sm d-flex  justify-content-around presh">
          
                <div class="card-presh">
            <h5 class="card-presh-h5">Your Available Balance</h5>
            <h1 class="card-presh-h1">NGN 0.00</h1>
            <div class="modal fade presh" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered presh">
                <div class="modal-content-presh">
                  <div class="modal-header-presh">
                    <h4 class="modal-title presh">How Will You Like to Fund?</h4>
                    <button type="button" class="btn-close presh" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-presh">
                    <button type="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="modal-btn presh">
                      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M25 7H1M25 8.2V4.84C25 3.49588 25 2.82381 24.7384 2.31042C24.5083 1.85884 24.1412 1.49168 23.6896 1.26159C23.1762 1 22.5041 1 21.16 1H4.84C3.49587 1 2.82381 1 2.31042 1.26158C1.85883 1.49168 1.49168 1.85883 1.26158 2.31042C1 2.82381 1 3.49587 1 4.84V13.96C1 15.3041 1 15.9762 1.26158 16.4896C1.49168 16.9412 1.85883 17.3083 2.31042 17.5384C2.82381 17.8 3.49587 17.8 4.84 17.8H12.4M20.2 20.2C20.2 20.2 23.8 18.4841 23.8 15.9103V12.9075L21.1749 11.9694C20.5442 11.7435 19.8544 11.7435 19.2237 11.9694L16.6 12.9075V15.9103C16.6 18.4841 20.2 20.2 20.2 20.2Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                       Fund with a debit Card</button> <br>
    
                    <button data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" class="modal-btn presh">
                      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M25 7H1M25 8.2V4.84C25 3.49588 25 2.82381 24.7384 2.31042C24.5083 1.85884 24.1412 1.49168 23.6896 1.26159C23.1762 1 22.5041 1 21.16 1H4.84C3.49587 1 2.82381 1 2.31042 1.26158C1.85883 1.49168 1.49168 1.85883 1.26158 2.31042C1 2.82381 1 3.49587 1 4.84V13.96C1 15.3041 1 15.9762 1.26158 16.4896C1.49168 16.9412 1.85883 17.3083 2.31042 17.5384C2.82381 17.8 3.49587 17.8 4.84 17.8H12.4M20.2 20.2C20.2 20.2 23.8 18.4841 23.8 15.9103V12.9075L21.1749 11.9694C20.5442 11.7435 19.8544 11.7435 19.2237 11.9694L16.6 12.9075V15.9103C16.6 18.4841 20.2 20.2 20.2 20.2Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      Fund with bank transfer</button> <br>
    
                    <button data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" class="modal-btn presh">
                      <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M21.9263 10.7297L4.63813 10.7297M21.9263 10.7297L24.2283 14.7603C24.7442 15.6636 25.0022 16.1153 25.1361 16.6015C25.2548 17.0323 25.3018 17.4814 25.2749 17.9291C25.2445 18.4342 25.0859 18.9339 24.7688 19.9333L24.5122 20.7421C24.0264 22.2732 23.7835 23.0388 23.3329 23.6048C22.9351 24.1046 22.4241 24.4915 21.847 24.73C21.1934 25 20.4252 25 18.889 25L7.67547 25C6.13921 25 5.37107 25 4.71748 24.7299C4.14033 24.4915 3.62939 24.1046 3.23153 23.6048C2.78099 23.0388 2.53808 22.2732 2.05227 20.7421L1.79562 19.9333C1.47853 18.9339 1.31998 18.4342 1.2896 17.9291C1.26268 17.4814 1.30961 17.0323 1.42832 16.6015C1.56228 16.1153 1.82024 15.6636 2.33614 14.7603L4.63813 10.7297M21.9263 10.7297L22.4416 8.8351C22.6859 7.93686 22.808 7.48775 22.7121 7.13243C22.628 6.82117 22.4363 6.55414 22.1745 6.38373C21.8757 6.18919 21.431 6.18919 20.5418 6.18919L6.02263 6.18919C5.13341 6.18919 4.6888 6.18919 4.38994 6.38373C4.12816 6.55414 3.93643 6.82117 3.85238 7.13242C3.75642 7.48775 3.87857 7.93686 4.12286 8.8351L4.63813 10.7297M13.2822 6.18919H8.91608C8.27276 6.18919 7.65579 5.91583 7.20089 5.42925C6.746 4.94267 6.49044 4.28272 6.49044 3.59459C6.49044 2.90647 6.746 2.24652 7.20089 1.75994C7.65579 1.27336 8.27276 1 8.91608 1C12.312 1 13.2822 6.18919 13.2822 6.18919ZM13.2822 6.18919H17.6484C18.2917 6.18919 18.9087 5.91583 19.3636 5.42925C19.8185 4.94267 20.074 4.28272 20.074 3.59459C20.074 2.90647 19.8185 2.24652 19.3636 1.75994C18.9087 1.27336 18.2917 1 17.6484 1C14.2525 1 13.2822 6.18919 13.2822 6.18919Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      Fund with CFA wallet</button>
                  </div>
            
                </div>
              </div>
            </div>
            <div class="modal fade presh" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered presh">
                <div class="modal-content-presh">
                  <div class="modal-header-presh">
                    <h1 class="modal-title fs-5 presh" id="exampleModalToggleLabel2">Fund with bank transfer</h1>
                    <button type="button" class="btn-close presh" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-presh">
                    <h5 class="bank-transfer-amount-presh">Amount</h5>
                    <input class="bank-transfer-input-presh" type="text" placeholder="Enter amount to fund"><br>
                    <button class="bank-transfer-proceed-presh">Proceed</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade presh" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered presh">
                <div class="modal-content-presh">
                  <div class="modal-header-presh">
                    <h1 class="modal-title fs-5 presh" id="exampleModalToggleLabel2">Fund with bank transfer</h1>
                    <button type="button" class="btn-close presh" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-presh">
                    <div class="container table-responsive py-5 presh"> 
                      <table class="table table-border border-5 presh">
                        <tbody class="tbody-presh">
                          <tr class="td-presh">
                            <td class="td-presh">Account Number</td>
                            <td class="td-presh">Bank Name</td>
                          </tr>
    
                          <tr>
                            <td class="td-presh">Account Number</td>
                            <td class="td-presh">Bank Name</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade presh" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered presh">
                <div class="modal-content-presh">
                  <div class="modal-header-presh">
                    <h1 class="modal-title fs-5 presh" id="exampleModalToggleLabel2">Fund from CFA wallet</h1>
                    <button type="button" class="btn-close presh" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-presh">
                    <h5 class="bank-transfer-amount-presh">Amount in Naira</h5>
                    <input class="bank-transfer-input-presh" type="text" placeholder="Enter amount to fund">
                    <button class="bank-transfer-proceed-presh">Proceed</button>
                    <h3 class="ngn-cfa-presh">NGN 1.00 = CFA 1.37</h3>
                  </div>
                </div>
              </div>
            </div>
            <button class="card-presh-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Fund your wallet</button>    
          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          
          <div style="padding-left: 35px;" class="card-presh">
            <h5 class="card-presh-h5">Your Available Balance</h5>
            <h1 class="card-presh-h1">CFA 0</h1>
             <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">How Will You Like to Fund?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-presh">
                    <button type="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="modal-btn">
                      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M25 7H1M25 8.2V4.84C25 3.49588 25 2.82381 24.7384 2.31042C24.5083 1.85884 24.1412 1.49168 23.6896 1.26159C23.1762 1 22.5041 1 21.16 1H4.84C3.49587 1 2.82381 1 2.31042 1.26158C1.85883 1.49168 1.49168 1.85883 1.26158 2.31042C1 2.82381 1 3.49587 1 4.84V13.96C1 15.3041 1 15.9762 1.26158 16.4896C1.49168 16.9412 1.85883 17.3083 2.31042 17.5384C2.82381 17.8 3.49587 17.8 4.84 17.8H12.4M20.2 20.2C20.2 20.2 23.8 18.4841 23.8 15.9103V12.9075L21.1749 11.9694C20.5442 11.7435 19.8544 11.7435 19.2237 11.9694L16.6 12.9075V15.9103C16.6 18.4841 20.2 20.2 20.2 20.2Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                       Fund with a debit Card</button> <br>
    
                    <button data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" class="modal-btn">
                      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M25 7H1M25 8.2V4.84C25 3.49588 25 2.82381 24.7384 2.31042C24.5083 1.85884 24.1412 1.49168 23.6896 1.26159C23.1762 1 22.5041 1 21.16 1H4.84C3.49587 1 2.82381 1 2.31042 1.26158C1.85883 1.49168 1.49168 1.85883 1.26158 2.31042C1 2.82381 1 3.49587 1 4.84V13.96C1 15.3041 1 15.9762 1.26158 16.4896C1.49168 16.9412 1.85883 17.3083 2.31042 17.5384C2.82381 17.8 3.49587 17.8 4.84 17.8H12.4M20.2 20.2C20.2 20.2 23.8 18.4841 23.8 15.9103V12.9075L21.1749 11.9694C20.5442 11.7435 19.8544 11.7435 19.2237 11.9694L16.6 12.9075V15.9103C16.6 18.4841 20.2 20.2 20.2 20.2Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      Fund with bank transfer</button> <br>
    
                    <button data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" class="modal-btn">
                      <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-auto"><path d="M21.9263 10.7297L4.63813 10.7297M21.9263 10.7297L24.2283 14.7603C24.7442 15.6636 25.0022 16.1153 25.1361 16.6015C25.2548 17.0323 25.3018 17.4814 25.2749 17.9291C25.2445 18.4342 25.0859 18.9339 24.7688 19.9333L24.5122 20.7421C24.0264 22.2732 23.7835 23.0388 23.3329 23.6048C22.9351 24.1046 22.4241 24.4915 21.847 24.73C21.1934 25 20.4252 25 18.889 25L7.67547 25C6.13921 25 5.37107 25 4.71748 24.7299C4.14033 24.4915 3.62939 24.1046 3.23153 23.6048C2.78099 23.0388 2.53808 22.2732 2.05227 20.7421L1.79562 19.9333C1.47853 18.9339 1.31998 18.4342 1.2896 17.9291C1.26268 17.4814 1.30961 17.0323 1.42832 16.6015C1.56228 16.1153 1.82024 15.6636 2.33614 14.7603L4.63813 10.7297M21.9263 10.7297L22.4416 8.8351C22.6859 7.93686 22.808 7.48775 22.7121 7.13243C22.628 6.82117 22.4363 6.55414 22.1745 6.38373C21.8757 6.18919 21.431 6.18919 20.5418 6.18919L6.02263 6.18919C5.13341 6.18919 4.6888 6.18919 4.38994 6.38373C4.12816 6.55414 3.93643 6.82117 3.85238 7.13242C3.75642 7.48775 3.87857 7.93686 4.12286 8.8351L4.63813 10.7297M13.2822 6.18919H8.91608C8.27276 6.18919 7.65579 5.91583 7.20089 5.42925C6.746 4.94267 6.49044 4.28272 6.49044 3.59459C6.49044 2.90647 6.746 2.24652 7.20089 1.75994C7.65579 1.27336 8.27276 1 8.91608 1C12.312 1 13.2822 6.18919 13.2822 6.18919ZM13.2822 6.18919H17.6484C18.2917 6.18919 18.9087 5.91583 19.3636 5.42925C19.8185 4.94267 20.074 4.28272 20.074 3.59459C20.074 2.90647 19.8185 2.24652 19.3636 1.75994C18.9087 1.27336 18.2917 1 17.6484 1C14.2525 1 13.2822 6.18919 13.2822 6.18919Z" stroke="#62459F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                      Fund with CFA wallet</button>
                  </div>
            
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered previous-presh">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Fund with bank transfer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h5 class="bank-transfer-amount">Amount</h5>
                    <input class="bank-transfer-input" type="text" placeholder="Enter amount to fund"><br>
                    <button class="bank-transfer-proceed">Proceed</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Fund with bank transfer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container table-responsive py-5"> 
                      <table class="table table-border border-5">
                        <tbody>
                          <tr>
                            <td>Account Number</td>
                            <td>Bank Name</td>
                          </tr>
    
                          <tr>
                            <td>Account Number</td>
                            <td>Bank Name</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content-presh">
                  <div class="modal-header-presh">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Fund from CFA wallet</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h5 class="bank-transfer-amount">Amount in Naira</h5>
                    <input class="bank-transfer-input" type="text" placeholder="Enter amount to fund">
                    <button class="bank-transfer-proceed">Proceed</button>
                    <h3 class="ngn-cfa-presh">NGN 1.00 = CFA 1.37</h3>
                  </div>
                </div>
              </div>
            </div>
            <button class="card-presh-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Fund your wallet</button>
            </div>
  
            
    
          <button class="carousel-control-prev previous-presh" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
           <img class="left-arrow-presh" src="./img/arrow-left-circle.svg" alt="">
            <span class="visually-hidden presh">Previous</span>
          </button>
          <button class="carousel-control-next next-presh" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
           <img class="right-arrow-presh" src="./img/arrow-right-circle.svg" alt="">
            <span class="visually-hidden presh">Next</span>
          </button>
            
        </div>   
        
        <div class="transactions-presh">
          <div class="outflow-presh">
            <h5 class="outflow-presh-h5">Transactions</h5>
            <h2 class="outflow-presh-h2">NGN 0.00</h2>
            <h6 class="outflow-presh-h6">Outflow</h6>
          </div>
    
          <div class="vertical-presh"></div>
    
          <div class="inflow-presh">
            <select class="inflow-select-presh" name="" id="">
              <option value="">Today</option>
              <option value="">Yesterday</option>
              <option value="">This Month</option>
            </select>
            <h2 class="inflow-presh-h2">NGN 0.00</h2>
            <h6 class="inflow-presh-h6">Inflow</h6>
          </div>
        </div>
        </div>
    
        
  
        <table class="table presh-tab">
          <thead>
            <div class="title-presh">
              <h5 style="font-weight: bold;">Recent Transactions</h5>
              <h5 style="color: rgb(59 130 246/0.5);">See All</h5>
            </div>
  
            <tr >
              <th scope="col">DATE/TIME</th>
              <th scope="col">CATEGORY</th>
              <th scope="col">REFERENCE</th>
              <th scope="col">NARRATION</th>
              <th scope="col">AMOUNT</th>
              <th scope="col">BALANCE</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr> -->
  
            <!-- <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr> -->
  
            <!-- <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr> -->
          </tbody>
        </table>
       
       </div>
  </div>
</div>