<main class="dashboard-body--joe">
      <section>
        <!-- select account container-->
        <div class="row p-2 justify-content-between">
          <div
            class="border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-1 px-xl-3 flex-basis--62--joe flex-basis--100--joe order-1 "
          >
            <div class="row px-3">
              <div
                class="select-account--joe position-relative col-9 col-xl-5 px-0 order-2 order-xl-1"
              >
                <label for="account--joe" class="d-flex justify-content-between"
                  ><span> Select Account </span>
                  <span class="ms-auto"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </label>
                <input type="checkbox" id="account--joe" />
                <ul class="dropDown-acc--joe w-100 bg-white">
                  <li>Testing</li>
                  <li>Testing</li>
                </ul>
              </div>
              <button
                class="bg-secondary--color--light--joe border-0 ms-auto ms-xl-0 px-xl-3 border--radius--5--joe secondary--color col-form-label col-auto col-xl-auto mx-xl-1 order-2 order-xl-1 hover--joe"
              >
                Copy
              </button>

              <div
                class="p-0 m-0 col-xl-auto ms-xl-auto my-2 my-xl-0 order-1 order-xl-2"
              >
                <button
                  class="col-12 primary-border--color--joe p-2 px-4 border--radius--5--joe border--style--joe border-width--4--joe secondary--color fw-bold hover--joe"
                >
                  NGN
                </button>
              </div>
            </div>

            <!-- wallet Balance div -->
            <div class="row my-4 m-0 px-3">
              <div class="col-12 col-xl-4 p-0">
                <div>
                  <span>
                    <i class="fa-solid fa-wallet"></i>
                  </span>
                  <span class="font-small--joe faded-text--joe"> Wallet Balance </span>
                </div>
                <p class="fs-5 fw-bold secondary--color m-0">NGN 0.00</p>
              </div>

              <div
                class="col-12 col-xl-3 row align-items-center m-0 mt-3 mt-xl-0 ms-xl-auto p-0"
              >
                <button
                  class="border-0 col-12 p-2 border--radius--5--joe bg-light-green--color--joe fw-bold secondary--color"
                >
                  Fund Wallet
                </button>
              </div>
            </div>
          </div>

          <!-- transaction div -->
          <div
            class="flex-basis--37--joe flex-basis--100--joe ms-xl-0 border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-1 px-3 mt-4 mt-xl-0 order-3 order-xl-2"
          >
            <div class="row my-1 align-items-center">
              <p class="col-4">Transactions</p>

              <div class="select-account--joe position-relative col-5 ms-auto px-0">
                <label
                  for="transaction--joe"
                  class="d-flex justify-content-between bg-secondary--color--light--joe hover--joe"
                  ><span class="fw-bold"> Yesterday</span>
                  <span class="ms-auto"
                        ><i class="fa-solid fa-angle-down"></i
                      ></span>
                </label>
                <input type="checkbox" id="transaction--joe" />
                <ul class="dropDown-acc--joe w-100 bg-white">
                  <li>Testing</li>
                  <li>Testing</li>
                </ul>
              </div>
            </div>

            <div class="row mt-4 mb-3 mb-xl-0 justify-content-center">
              <div class="col-6 text-center border--right--joe">
                <div>
                  <p class="p-0 m-0 fw-bold">NGN 0.00</p>
                </div>
                <p class="font-sm m-0 faded-text--joe">Outflow</p>
              </div>

              <div class="col-6 text-center">
                <div>
                  <p class="p-0 m-0 fw-bold">NGN 0.00</p>
                </div>
                <p class="font-sm m-0 faded-text--joe">Inflow</p>
              </div>
            </div>
          </div>

          <!-- Actions container -->
          <div class="mt-4 col-12 order-2">
            <h2 class="fw-bold fs-6 p-0 m-0">Actions</h2>
            <div class="row p-2 justify-content-between">
              <div
                class="border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-3 px-xl-3 flex-basis--50--joe flex-basis--23--joe text-center box-shadow--joe"
              >
                <div>
                  <i
                    class="p-3 border--radius--50--joe bg-secondary--color--light--joe fa-solid fa-mobile"
                  ></i>
                  <div class="mt-4 mb-2">
                    <p class="p-0 m-0 secondary--color">Buy Airtime</p>
                  </div>
                </div>
              </div>
    
              <div
                class="border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-3 px-xl-3 flex-basis--50--joe flex-basis--23--joe text-center box-shadow--joe"
              >
                <div>
                  <i
                    class="p-3 border--radius--50--joe bg-secondary--color--light--joe fa-sharp fa-solid fa-paper-plane"
                  ></i>
                  <div class="mt-4 mb-2">
                    <p class="p-0 m-0 secondary--color">Bank Transfer</p>
                  </div>
                </div>
              </div>
    
              <div
                class="border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-3 px-xl-3 flex-basis--50--joe flex-basis--23--joe text-center box-shadow--joe"
              >
                <div>
                  <i
                    class="p-3 border--radius--50--joe bg-secondary--color--light--joe fa-solid fa-credit-card"
                  ></i>
                  <div class="mt-4 mb-2">
                    <p class="p-0 m-0 secondary--color">Cards</p>
                  </div>
                </div>
              </div>
    
              <div
                class="border-1 border--style--joe primary-border--color--joe border--radius--5--joe p-3 px-xl-3 flex-basis--50--joe flex-basis--23--joe text-center box-shadow--joe"
              >
                <div>
                  <i
                    class="p-3 border--radius--50--joe bg-secondary--color--light--joe fa-solid fa-clipboard-list"
                  ></i>
                  <div class="mt-4 mb-2">
                    <p class="p-0 m-0 secondary--color">Pay Bills</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="d-none d-lg-block">
        <div class="table-responsive container--joe mt-3">
            <div class="d-flex justify-content-between line--joe">
              <p class="fs-5">Recent Transactions</p>
              <button class="fs-6 border-0 bg-white px-3">
                See All
              </button>
            </div>
            <table class="table table--hover--joe">
              <thead>
                <tr>
                  <th scope="col" class="fw-light">
                    DATE/TIME
                  </th>
                  <th scope="col" class="fw-light">
                    CATEGORY
                  </th>
                  <th scope="col" class="fw-light">
                    REFERENCE
                  </th>
                  <th scope="col" class="fw-light">
                    NARRATION
                  </th>
                  <th scope="col" class="fw-light">
                    AMOUNT
                  </th>
                  <th scope="col" class="fw-light">
                    BALANCE
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>money transaction</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                </tr>
              </tbody>
            </table>
          </div>
      </section>
      
    </main>