 <div class="banner-EB" style="width: fit-content;">
                <img src="./images/banner.svg" alt="">
            </div>
            <div class="body-content-EB">
                <div class="prof-title-EB">
                    <div class="left-EB">
                        <div class="prof-pix-EB"></div>
                        <div class="prof-name-EB">Emmanuel Baba</div>
                    </div>
                    <div class="right-EB">
                        <div class=" myBtn-EB">Get Account Statement</div>
                    </div>
                </div>
                <div class="body-content-EB">
                    <div class="prof-content-EB">
                        <div class="div1-EB">
                            <ul>
                                <a href=""><li class="ProfBtn">Profile</li></a>
                                <li>Accoubt Verification</li>
                                <li>Notifications</li>
                                <li>Security</li>
                                <li>Developer Keys</li>
                            </ul>
                        </div>
                        <div class="divider-EB"></div>
                        <div>
                            <div class="div23-EB">
                                <div class="div2-EB">
                                        Profile
                                        <div>
                                            Full Name
                                            <p>Emmanuel Baba</p>
                                        </div>
                                        <div>
                                            City
                                            <p>Nill</p>
                                        </div>
                                        <div>
                                            Phone Number
                                            <p>2348038443273</p>
                                        </div>
                                        <div>
                                            Address
                                            <p>32 Henry Nwachukwu</p>
                                        </div>
                                </div>
                                <div class="div3-EB">
                                        <div>
                                            Email
                                            <p>emixwrld@gmail.com</p>
                                        </div>
                                        <div>
                                            Daily Limit
                                            <p>NGN 0.00</p>
                                        </div>
                                        <div>
                                            Referal Code
                                            <p></p>
                                        </div>
                                </div>
                            </div>
                            <div class="myBtnOutline-EB">
                                Edit Profile
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>