*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: IBM Plex Sans,sans-serif;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sideNav{
  width: 310px;
  height: 100vh;
  position: fixed;
  background-color: #DFE4F440;
  padding: 50px 40px;
}

.navLogo{
  text-align: center;
}

.navLogo img{
  width: 115px;
}

.nav-item{
  height: 50px;
  padding: 15px 20px;
  margin: 5px 0px;
  align-items: center;
}

.nav-item a{
  font-size: 16px;
  color: #40344E;
  align-items: center;
}

.myNavPills a i img{
  color: #00C9B6;
}

.nav-item span{
  margin-left: 10px;
  font-weight: lighter;
}

.myNavPills :hover{
  color: #00C9B6;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(154,171,237,0.06);
  border-radius: 10px;
}

.myNavPills a :hover{
  color: #00C9B6;
}


/* RIGHT SIDE PAGE */

.Rightside{
  width: 93%;
  margin: 0 auto;
  padding-left: 310px;
}

.NavRight{
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid rgb(223 228 244);
  padding-top: 40px;
  align-items: center;
}

.NavRight img{
  border: 1px solid rgb(223 228 244);
  border-radius: 100px;
  width: 40px;
}

.NavRightLeft{
  font-size: 18px;
  color: #40344E;
  font-weight: 600;
}

.navRightRight{
  display: flex;
  gap: 10px;
  align-items: center;
}

.navRightRight p{
  font-size: 17px;
  color: #40344E;
  font-weight: 100;
}

.navRightRight .icon{
  width: 20px;
  border: none;
}


/* BALANCE */

.Rightside-presh{
  width: 93%;
  margin: 0 auto;
  padding-left: 310px;
}

.NavRight-presh{
  display: flex;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid rgb(223 228 244);
  padding-top: 40px;
  align-items: center;
}

.wrapper-presh{
    width: 81%;
    height: 10vh;
    margin-left: 350px;
    /* background-color: rgb(223, 226, 229); */
}

.top-base-presh {
    margin-bottom: 70px;
    /* -webkit-filter: blur(5px) grayscale(90%); */
}

.top-base-presh a{
  display: flex;
  justify-content: flex-start;
    margin-right: -100px;
}

.cards-base-presh{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 180px;
    margin-top: 50px;
}

.cards-presh{
    display: flex;
    justify-content: space-between;

    /* width: 60%; */
}

.card-presh{
    background-color: rgb(29, 30, 30);
    margin-left: 30px;
    width: 450px;
    height: 300px;
    /* padding-left: 20px; */
}

.card-presh-h5{
    color: aliceblue;
    margin-top: 40px;
}

.card-presh-h1{
    color: rgb(52, 146, 115);
    margin-top: 10px;
}

.card-presh-btn{
    background-color: rgb(29, 30, 30);
    color: rgb(52, 146, 115);
    text-align: center;
    width: 50%;
    font-size: large;
    height: 60px;
    margin-top: 40px;
    border: 1px rgb(52, 146, 115) solid;
    border-radius: 5px;
    cursor: pointer;
}

.left-arrow-presh{
    width: 50px;
}

.right-arrow-presh{
    width: 50px;
}

.previous-presh{
    margin-left: 220px;
    margin-bottom: 250px;
    color: red;
}

.next-presh{
    margin-right: 550px;
    margin-bottom: 250px;
    color: red;
}

.modal-content-presh{
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding-bottom: 30px;    
  }
  
  .modal-content-presh .btn{
    border-radius: 0;
  }
  
  .close-presh{
    font-size: 30px;
    font-weight: 300;
  }
  
  .modal-header-presh .close-presh{
    margin-top: -10px;
  }

  .modal-body-presh{
    display: block;
    margin-top: 10px;
  }

  .modal-presh-btn{
    margin-top: 20px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    height: 60px;
    background-color: #f5f5fff6;
    border: 1px grey;
    border-radius: 5px;
    
  }

  .vertical-presh{
    border-left: 1px solid aliceblue;
    height: 18vh;
    position: absolute;
    /* position: relative; */
    left: 82%;
    margin-top: 50px;
  }

  .transactions-presh{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 200;
    border: 1px rgb(190, 206, 222) solid;
    border-radius: 10px;
    /* border-width: 30px; */
    height: 300px;
    margin-right: 20px;
    /* align-items: center; */
  }

  .outflow-presh{
    margin-top: 40px;
    margin-left: 30px;
  }

  .outflow-presh-h2{
    font-weight: bold;
    margin-top: 70px;
    margin-left: 50px;
  }

  .outflow-presh-h6{
    margin-left: 100px;
  }

  .inflow-select-presh{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: rgb(189, 218, 243);
    background-color: aliceblue;
    font-weight: bold;
    align-items: center;
  }

  .inflow-presh{
    margin-top: 30px;
    margin-left: 30px;
  }

  .inflow-presh-h2{
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
  }

  .inflow-presh-h6{
    margin-left: 100px;
  }

  .table-base-presh{
    margin: 30px 30px 30px 50px;
    border-radius: 5px;
    /* border: 1px rgb(190, 206, 222) solid; */
    margin-top: 90px;
    text-align: center;
  }

  .title-presh{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }

  .header-presh{
    color: gray;
  }

  .bank-transfer-amount-presh{
    font-size: 20px;
  }

  .bank-transfer-input-presh{
    /* text-align: center; */
    padding-left: 20px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .bank-transfer-proceed-presh{
    border: none;
    background-color: green;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
  }

  .ngn-cfa-presh{
    text-align: center;
    margin-top: 20px;
  }



  